body {
  background: #0b0b0b;
  color: white;
  font-family: Arial;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  border-bottom: 2px solid gold;
}

.nav a {
  color: gold;
  margin-left: 15px;
  text-decoration: none;
}

.page {
  padding: 20px;
  text-align: center;
}

.form input,
.form select {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  background: gold;
  border: none;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
}